/*
 * ***********************************************************************
 * ADOBE CONFIDENTIAL
 * __________________
 *
 * Copyright 2016 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and may be covered by U.S. and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 * ***********************************************************************
 */

.aem-AuthorLayer-structure .guideContainer {
    min-height: 46px;
}

.aem-AuthorLayer-structure .rootPanel,
.aem-AuthorLayer-structure .guide-tab-scroller.guide-tab-scroller-previous,
.aem-AuthorLayer-structure .guide-tab-scroller.guide-tab-scroller-next,
.aem-AuthorLayer-structure .wizard-nav-arrow.wizard-nav-prev,
.aem-AuthorLayer-structure .wizard-nav-arrow.wizard-nav-next {
    display: none;
}

.is-structure.cq-Overlay--placeholder[data-path$="jcr:content/guideContainer"]::before {
    display: block;
}