/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
*  Copyright 2015 Adobe Systems Incorporated
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe Systems Incorporated and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Adobe Systems Incorporated and its
* suppliers and are protected by all applicable intellectual property
* laws, including trade secret and copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe Systems Incorporated.
**************************************************************************/
.sequence-view {

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-direction : row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap : wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.sequence-view > .sequence-view-cell:last-of-type {
    padding-right: 16px;
}
.sequence-view-cell {
    padding: 1px 32px 16px 1px;
}
.sequence-view > .sequence-view-cell.sequence-view-separator{

    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 0;
}
.sequence-view-heading {
    padding: 3px;
}