.guideImage img{
height:100%;
width:inherit;
max-width:100%;
max-height:100%;

}
body{
font-family:Arial;
line-height:1.42857143;
margin-left:0px;
margin-bottom:0px;
margin-right:0px;
margin-top:0px;

}
.guideChart{
height:100%;
width:inherit;
max-width:100%;
max-height:100%;

}
.guideFieldNode:not(.guideButton):not(.guideTextDraw):not(.guideChart){
margin-bottom:5px;
margin-top:5px;
padding-right:5px;

}
.guideFieldDescription.long{
margin-bottom:5px;
margin-right:0px;
margin-left:0px;
margin-top:5px;
clear:both;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
border-top-right-radius:4px;
border-top-left-radius:4px;
display:none;
padding-left:15px;
padding-right:15px;
border-color:#d6d6d6;
border-style:solid;
border-left-width:3px;
border-bottom-width:1px;
border-right-width:1px;
border-top-width:1px;
background:#eeeeee;
font-size:14px;
color:#333333;
border-left-color : #007fa2;
transition: all 2s;
}
label{
color:#333333;
line-height:1.42857143;
font-size:16px;
font-weight:normal;
margin-bottom:5px;
margin-top:5px;
margin-left:5px;
margin-right:5px;

}
.guideFieldLabel {
width:auto;
display:block;
}
input,select,textarea,.guideScribble img,.afTermsAndConditions{
border-style:solid;
border-top-width:1px;
border-left-width:1px;
border-bottom-width:1px;
border-right-width:1px;
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-top-right-radius:4px;
border-top-left-radius:4px;
border-color:#cde0ec;
height:38px;
color:#333333;
font-size:14px;
line-height:1.42857143;
padding-bottom:2px;
padding-left:2px;
padding-top:2px;
padding-right:2px;
margin-bottom:0px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
background:#ffffff;

}
 .guideFieldWidget:not(.guideFieldButtonWidget) {
width:100%;
display:block;
}
.guideCheckBoxGroupItems:not(.guideImageChoice):not(.guideSwitch){
width:100%;
display:block;

}
.guideCheckBoxItem .guideWidgetLabel label{
margin-left:0px;
margin-bottom:0px;
margin-right:0px;
margin-top:0px;
vertical-align:middle;

}
.guideCheckBoxItem .guideWidgetLabel {
display:inline-block;
}
.XfaCheckBox input[type='checkbox']{
float:none;
width:13px;
padding-left:0px;
padding-bottom:0px;
padding-top:0px;
padding-right:0px;
height:auto;

}
.guideFieldWidget.guideNumericStepper{
width:40%;
min-width:200px;
border-top-width:1px;
border-left-width:1px;
border-bottom-width:1px;
border-right-width:1px;
border-style:solid;
border-color:#cde0ec;
background:#FFFFFF;
border-bottom-right-radius:0.25rem;
border-bottom-left-radius:0.25rem;
border-top-left-radius:0.25rem;
border-top-right-radius:0.25rem;

}
.guideFieldWidget.guideNumericStepper input[type='text'].ui-spinner-input{
width:calc(100% - 5rem);
border-top-width:0px;
border-left-width:0px;
border-bottom-width:0px;
border-right-width:0px;
text-align:center;

}
.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-down:focus{
background:url(/etc/clientlibs/fd/af/widgets/numericStepper/less/images/Minus_Hover.svg) center center / 0.75rem 0.75rem no-repeat;

}
.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-down:hover{
background:url(/etc/clientlibs/fd/af/widgets/numericStepper/less/images/Minus_Hover.svg) center center / 0.75rem 0.75rem no-repeat;

}
.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-down{
width:2.5rem;
height:2.5rem;
display:inline-block;
float:left;
border-top-left-radius:0.25rem;
border-bottom-left-radius:0.25rem;
background:url(/etc/clientlibs/fd/af/widgets/numericStepper/less/images/Minus.svg) center center / 0.75rem 0.75rem no-repeat;
cursor : pointer;

}
.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-up:focus{
background:url(/etc/clientlibs/fd/af/widgets/numericStepper/less/images/Plus_Hover.svg) center center / 0.75rem 0.75rem no-repeat;

}
.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-up:hover{
background:url(/etc/clientlibs/fd/af/widgets/numericStepper/less/images/Plus_Hover.svg) center center / 0.75rem 0.75rem no-repeat;

}
.guideFieldWidget.guideNumericStepper a.ui-spinner-button.ui-spinner-up {
width:2.5rem;
height:2.5rem;
float:right;
display:inline-block;
border-top-right-radius:0.25rem;
border-bottom-right-radius:0.25rem;
background:url(/etc/clientlibs/fd/af/widgets/numericStepper/less/images/Plus.svg) center center / 0.75rem 0.75rem no-repeat;
cursor : pointer;

}
.guideRadioButtonGroupItems:not(.guideImageChoice):not(.guideSwitch){
display:block;
width:100%;

}
.guideRadioButtonItem .guideWidgetLabel label{
margin-left:0px;
margin-bottom:0px;
margin-right:0px;
margin-top:0px;
vertical-align:middle;

}
.guideRadioButtonItem .guideWidgetLabel {
display:inline-block;
float:none;
}
.XfaCheckBox input[type='radio']{
float:none;
width:13px;
border-bottom-right-radius:15px;
border-bottom-left-radius:15px;
border-top-right-radius:15px;
border-top-left-radius:15px;
padding-left:0px;
padding-bottom:0px;
padding-top:0px;
padding-right:0px;
height:auto;

}
.multiline.textField textArea{
height:80px;

}
.guideSwitch .ui-switchbutton-default.ui-state-active{
border-left-width:0px;
border-bottom-width:0px;
border-right-width:0px;
border-top-width:0px;
border-color:rgba(0,0,0,0);
background:rgba(0,0,0,0);
font-weight:normal;

}
.guideSwitch .ui-switchbutton-default{
height:24px;
margin-top:5px;
padding-bottom:0px;
padding-top:0px;

}
.guideSwitch .ui-switchbutton-default .ui-switchbutton-handle{
background:linear-gradient(180deg,rgb(215,215,215),rgb(252,252,252));
width:22px;
height:22px;
display:block;
position:absolute;
border-bottom-right-radius:12px;
border-bottom-left-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
border-left-width:1px;
border-bottom-width:1px;
border-right-width:1px;
border-top-width:1px;
border-style:solid;
border-color:rgb(162,162,162);

}
.guideSwitch .ui-switchbutton-default label.ui-switchbutton-enabled{
background:linear-gradient(180deg,rgb(125,147,86),rgb(193,218,147));
font-size:14px;
line-height:18px;
font-weight:bold;
text-transform:uppercase;
height:20px;
padding-top:4px;
display:block;
margin-bottom:5px;
margin-top:0px;
overflow:hidden;
position:absolute;
color:rgb(255,255,255);

}
.guideSwitch .ui-switchbutton-default label.ui-switchbutton-disabled{
background:linear-gradient(180deg,rgb(185,185,185),rgb(248,248,248));
font-size:14px;
line-height:18px;
font-weight:bold;
text-transform:uppercase;
height:20px;
padding-top:4px;
padding-right:0px;
display:block;
margin-bottom:5px;
margin-top:0px;
overflow:hidden;
position:absolute;
color:rgb(124,124,124);

}
.guideFieldWidget.afTermsAndConditions{
border-left-width:0px;
border-bottom-width:0px;
border-right-width:0px;
border-top-width:0px;

}
.guide-tnc-checkboxwidget input[type='checkbox']{
width:13px;
margin-left:10px;
margin-right:10px;
margin-top:2px;

}
.afTncContentArea{
background:#FFFFFF;
overflow:auto;
border-style:solid;
border-top-width:1px;
border-left-width:1px;
border-bottom-width:1px;
border-right-width:1px;
border-color:#cde0ec;
margin-bottom:5px;
padding-left:4px;
padding-bottom:4px;
padding-right:4px;
padding-top:4px;

}
.afTncContentArea.guide-modal-body{
margin-left:20px;
margin-bottom:20px;
margin-right:20px;
margin-top:20px;

}
.afTermsAndConditions .guide-modal-header{
background:#AFB0B5;
min-height:16.42857143px;
border-top-right-radius:6px;
border-top-left-radius:6px;
padding-left:15px;
padding-bottom:15px;
padding-right:15px;
padding-top:15px;
border-left-width:0px;
border-bottom-width:1px;
border-right-width:0px;
border-top-width:0px;
border-style:solid;
border-color:#e5e5e5;

}
.dropDownList  select{
height:38px;

}
.guideformtitle,.guideTextDraw.guideformtitle{
margin-top:20px;
font-size:24px;

}
.guideHelpQuestionMark:hover{
background:url(/etc/clientlibs/fd/af/guidetheme2/images/questionmark.svg) left top / cover no-repeat,#016e8f;

}
.guideHelpQuestionMark{
display:inline-block;
position:absolute;
top:8px;
right:8px;
width:18px;
height:18px;
border-bottom-right-radius:9px;
border-bottom-left-radius:9px;
border-top-left-radius:9px;
border-top-right-radius:9px;
background:url(/etc/clientlibs/fd/af/guidetheme2/images/questionmark.svg) center center / cover no-repeat,#007fa2;
cursor : pointer;

}
.guidePanelDescription > .guideHelpQuestionMark{
position:relative;
left:5px;
top:0px;

}
.guidePanelDescription.long{
background:#d3d3d3;
border-left-width:0px;
border-bottom-width:0px;
border-right-width:0px;
border-top-width:3px;
border-style:solid;
border-color:#00bfff;
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
margin-bottom:10px;

}
.guideGridFluidDescription.guidePanelDescription{
margin-bottom:10px;
font-size:24px;

}
@media (max-width : 767px){
.tab-navigators.tab-navigators-mobile{
background:#f1f1f1;
padding-left:0px;
padding-bottom:0px;
padding-top:0px;
padding-right:0px;
margin-left:0px;
margin-bottom:0px;
margin-top:0px;
margin-right:0px;
list-style: none;
cursor: pointer;
overflow: hidden
}
}
@media (max-width : 767px){
.guide-mobile-navigator .navigator-toggle{
margin-bottom:13px;
border:none;
float:right;
cursor:pointer;
padding-top:0px;
padding-right:0px;
padding-bottom:0px;
padding-left:0px;
width:34px;
height:30px;
background:url(/etc/clientlibs/fd/af/guidetheme2/images/menu.svg) 10px 8px / cover no-repeat,#d53058;

}
.guide-mobile-navigator .navigator-toggle:hover{
background:url(/etc/clientlibs/fd/af/guidetheme2/images/menu.svg) 10px 8px / cover no-repeat,#c6264c;

}
}
@media (max-width : 767px){
.tab-navigators.tab-navigators-mobile > li.wizard-tab-disabled > a, .tab-navigators.tab-navigators-mobile > li.wizard-tab-disabled > a:hover{
opacity:0.5;

}
.tab-navigators.tab-navigators-mobile > li > a{
color:#3d3d3d;
background:#f1f1f1;
font-size:16px;
padding-left:30px;
width:100%;
margin-left:0px;
margin-bottom:2px;
margin-top:0px;
margin-right:0px;
padding-right:16px;
padding-top:10px;
padding-bottom:10px;
text-decoration: none;
}
.tab-navigators.tab-navigators-mobile > li.active > a, .tab-navigators.tab-navigators-mobile > li.active.stepped > a{
background:#007fa2;
color:#FFFFFF;

}
}
@media (max-width : 767px){
.mobileScrollIndicator{
display:block;
z-index:55;
position:fixed;
bottom:20px;
right:0px;
width:50px;
height:50px;
background:url(/etc/clientlibs/fd/af/images/more-arrow.png) left top no-repeat;

}
}
@media (max-width : 767px){
.guide-header-bar{
background:#00283c;
color:#ffffff;
padding-bottom:0px;
padding-left:0px;
padding-top:0px;
padding-right:0px;
text-transform:uppercase;

}
}
@media (max-width : 767px){
.guide-nav-next.guide-nav-toolbar-button{
position:relative;
display:inline-block;
background:url(/etc/clientlibs/fd/af/guidetheme2/images/next.svg) center center / cover no-repeat;
margin-left:10px;
margin-bottom:0px;
margin-top:8px;
margin-right:0px;
width:30px;
height:30px;
cursor : pointer;

}
}
@media (max-width : 767px){
.guide-nav-prev.guide-nav-toolbar-button{
position:relative;
display:inline-block;
background:url(/etc/clientlibs/fd/af/guidetheme2/images/prev.svg) center center / cover no-repeat;
margin-left:0px;
margin-bottom:0px;
margin-top:8px;
margin-right:10px;
width:30px;
height:30px;
cursor : pointer;

}
}
@media (max-width : 767px){
.guide-header-bar .guide-breadcrumb{
float:left;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
color:#FFFFFF;

}
}
.accordion-navigators .active > .guideHeader > a, .accordion-navigators .active .guideHeader > a:hover{
color:#ffffff;
background:url(/etc/clientlibs/fd/af/images/collapse_white.png) left center no-repeat,#007fa2;

}
.accordion-navigators .guideHeader > a{
display:block;
border-style:solid;
border-top-width:0px;
border-left-width:0px;
border-bottom-width:0px;
border-right-width:0px;
border-color:#000000;
padding-bottom:8px;
padding-left:25px;
padding-top:8px;
padding-right:8px;
font-size:16px;
text-decoration:none;
color:#3d3d3d;
cursor:pointer;
background:url(/etc/clientlibs/fd/af/images/expand.png) left center no-repeat,#f1f1f1;

}
.accordion-navigators .guideHeader .repeatableButtons > button.Add:hover{
background:url(/etc/clientlibs/fd/af/images/add_hover.png) left top no-repeat;

}
.accordion-navigators .active > .guideHeader .repeatableButtons > button.Add{
background:url(/etc/clientlibs/fd/af/images/add_white.png) left top no-repeat;

}
.accordion-navigators .guideHeader .repeatableButtons button.Add{
border:none;
width:25px;
height:25px;
background:url(/etc/clientlibs/fd/af/images/add.png) left top no-repeat;

}
.accordion-navigators .guideHeader .repeatableButtons button.Remove:hover{
background:url(/etc/clientlibs/fd/af/images/delete_hover.png) left top no-repeat;

}
.accordion-navigators .active > .guideHeader .repeatableButtons > button.Remove{
background:url(/etc/clientlibs/fd/af/images/delete_white.png) left top no-repeat;

}
.accordion-navigators .guideHeader .repeatableButtons button.Remove{
border:none;
width:25px;
height:25px;
background:url(/etc/clientlibs/fd/af/images/delete.png) left top no-repeat;

}
.guideTabbedPanelLayout{
border-top-width:1px;
border-left-width:1px;
border-bottom-width:1px;
border-right-width:1px;
border-style:solid;
border-color:#08b1cf;

}
.afTabLeftPanel{
border-top-width:0px;
border-left-width:1px;
border-bottom-width:0px;
border-right-width:0px;
border-style:solid;
border-color:#08b1cf;
padding-left:10px;
padding-bottom:10px;
padding-right:10px;
padding-top:10px;

}
.afAccordionPanel{
padding-left:10px;
padding-bottom:10px;
padding-right:10px;
padding-top:10px;

}
.afWizardPanel{
padding-left:10px;
padding-bottom:10px;
padding-right:10px;
padding-top:10px;

}
.afTabTopPanel{
padding-left:10px;
padding-bottom:10px;
padding-right:10px;
padding-top:10px;

}
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical{
margin-bottom:0px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
padding-bottom:0px;
padding-left:0px;
padding-top:0px;
padding-right:0px;
list-style:none;
cursor:pointer;
overflow:hidden;
background:#f1f1f1;

}
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li > a.guideLeftNavIcon:hover, .guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li.stepped > a.guideLeftNavIcon:hover{
color:#ffffff;
background:url(/etc/clientlibs/fd/af/images/tick-active.png) left top no-repeat,#007fa2;

}
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li.active > a.guideLeftNavIcon, .guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li.active.stepped > a.guideLeftNavIcon, .guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li.active > a.guideLeftNavIcon:hover{
color:#ffffff;
background:url(/etc/clientlibs/fd/af/images/tick-active.png) left top no-repeat,#007fa2;

}
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical > li > a.guideLeftNavIcon{
font-size:16px;
color:#333333;
width:calc(100% - 35px);
margin-bottom:2px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
display:block;
padding-bottom:10px;
padding-left:30px;
padding-top:10px;
padding-right:5px;
text-decoration:none;
border-top-width:0px;
border-left-width:0px;
border-bottom-width:2px;
border-right-width:0px;
border-color:#DDDDDD;
border-style:solid;
background:url(/etc/clientlibs/fd/af/images/tick.png) left top no-repeat,#f1f1f1;
box-sizing : content-box;
white-space: normal;

}
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical .tab-navigators-vertical > li > a.guideLeftNavIcon:hover, .guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical .tab-navigators-vertical > li.stepped > a.guideLeftNavIcon:hover{
color:#3d3d3d;
background:url(/etc/clientlibs/fd/af/guidetheme/simpleEnrollment/images/arrow-blue.png) 3% 50% no-repeat,#FFFFFF;

}
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical .tab-navigators-vertical > li.active > a.guideLeftNavIcon, .guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical .tab-navigators-vertical > li.active.stepped > a.guideLeftNavIcon, .guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical .tab-navigators-vertical > li.active > a.guideLeftNavIcon:hover{
background:url(/etc/clientlibs/fd/af/guidetheme/simpleEnrollment/images/arrow-blue.png) 3% 50% no-repeat,#FFFFFF;
border-left-width:0px;
border-bottom-width:0px;
border-right-width:0px;
border-top-width:0px;
color:#3d3d3d;

}
.guideTabbedPanelLayout .tab-navigators.tab-navigators-vertical .tab-navigators-vertical > li > a.guideLeftNavIcon{
background:url(/etc/clientlibs/fd/af/guidetheme/simpleEnrollment/images/arrow-black.png) 3% 50% no-repeat,#FFFFFF;
color:#3d3d3d;

}
.guideVerticalTabbedPanelLayout .tab-navigators{
margin-bottom:10px;
background:#f1f1f1;
overflow:hidden;
list-style: none;
}
.guideVerticalTabbedPanelLayout .tab-navigators > li > a.guideTopNavIcon:hover{
color:#FFFFFF;
background:#007fa2;

}
.guideVerticalTabbedPanelLayout .tab-navigators > li.active > a.guideTopNavIcon, .guideVerticalTabbedPanelLayout .tab-navigators-vertical .tab-navigators-vertical li.active > a.guideTopNavIcon,.guideVerticalTabbedPanelLayout .tab-navigators > li.stepped.active > a.guideTopNavIcon, .guideVerticalTabbedPanelLayout .tab-navigators-vertical .tab-navigators-vertical li.stepped.active > a.guideTopNavIcon, .guideVerticalTabbedPanelLayout .tab-navigators > li.active > a.guideTopNavIcon:hover, .guideVerticalTabbedPanelLayout .tab-navigators-vertical .tab-navigators-vertical li.active > a.guideTopNavIcon:hover{
background:#007fa2;
color:#FFFFFF;

}
.guideVerticalTabbedPanelLayout .tab-navigators > li > a.guideTopNavIcon{
background:#f1f1f1;
color:#3d3d3d;

}
.guideVerticalTabbedPanelLayout .tab-navigators > li.stepped > a.guideTopNavIcon,.guideVerticalTabbedPanelLayout .tab-navigators-vertical .tab-navigators-vertical li.stepped > a.guideTopNavIcon{
color:#3d3d3d;
background:#f1f1f1;

}
.wizard-navigators{
margin-bottom:10px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
padding-bottom:0px;
padding-left:0px;
padding-top:0px;
padding-right:0px;
list-style-type:none;
font-size:16px;
overflow:hidden;
white-space:nowrap;
cursor:default;
text-transform:uppercase;

}
.wizard-navigators > li > a:hover{
text-decoration: none;
}
.wizard-navigators > li.active > a, .wizard-navigators > li.active.stepped > a, .wizard-navigators > li.active > a:hover{
background:url(/etc/clientlibs/fd/afaddon/guidetheme/advancedenrollment/images/Fill_1.png) left top no-repeat,#0079c1;

}
.wizard-navigators > li.active > a::before, .wizard-navigators > li.active.stepped > a::before, .wizard-navigators > li.active > a:hover::before{
background-color: #0079c1;
}
.wizard-navigators > li > a{
display:inline-block;
border-top-width:0px;
border-left-width:0px;
border-bottom-width:0px;
border-right-width:0px;
border-style:solid;
border-color:#000000;
position:relative;
border-bottom-left-radius:500px;
border-top-left-radius:400px;
color:#FFFFFF;
background:url(/etc/clientlibs/fd/afaddon/guidetheme/advancedenrollment/images/Fill_2.png) left top no-repeat,#666666;
padding-right:35px;
padding-bottom:8px;
border-top-right-radius:400px;
border-bottom-right-radius:400px;
padding-top:5px;
padding-left:35px;
text-decoration: none;
word-break: break-word;
white-space: normal;
width:115%
}
.wizard-navigators > li.stepped > a{
background:url(/etc/clientlibs/fd/afaddon/guidetheme/advancedenrollment/images/Fill_2.png) left top no-repeat,#02874e;

}
.wizard-navigators > li.stepped > a::before{
background-color: #02874e;
}
@media (max-width : 767px){
.wizard-navigators > li > a{
margin-right:40px;

}
}
.wizard-navigators > li.active .indicator, .wizard-navigators > li.active.stepped .indicator, .wizard-navigators > li.active:hover .indicator{
display:none;
border-bottom-color : #0079c1;
}
.wizard-navigators > li .indicator{
width:0px;
height:0px;
border-style:solid;
border-bottom-right-radius:0px;
border-bottom-left-radius:0px;
border-top-right-radius:0px;
border-top-left-radius:0px;
margin-top:-39px;
z-index:20;
border-left-width:8px;
border-bottom-width:8px;
border-right-width:8px;
border-top-width:8px;
border-color:rgba(255,255,255,0);
display:none;
margin-left:6px;
border-bottom-color : #999999;
}
.wizard-navigators > li.stepped .indicator{
display:none;
border-bottom-color : #02874e;
}
.wizard-navigators > li.active .progress, .wizard-navigators > li.active.stepped .progress, .wizard-navigators > li.active:hover .progress{
background:#0079c1;

}
.wizard-navigators > li .progress{
height:3px;
margin-right:3px;
border-bottom-left-radius:0px;
border-top-right-radius:0px;
border-top-left-radius:0px;
border-bottom-right-radius:0px;
background:#999999;
margin-top:9px;
display:none;

}
.wizard-navigators > li.stepped .progress{
background:#02874e;

}
.wizard-nav-arrow.wizard-nav-next{
height:200px;
cursor:pointer;
background:url(/etc/clientlibs/fd/af/images/next-page.png) center bottom no-repeat;
cursor : pointer;
}
@media (max-width : 767px){
.wizard-nav-arrow.wizard-nav-next{
display:none;

}
}
.wizard-nav-arrow.wizard-nav-prev{
height:200px;
cursor:pointer;
background:url(/etc/clientlibs/fd/af/images/previous-page.png) center bottom no-repeat;
cursor : pointer;
}
@media (max-width : 767px){
.wizard-nav-arrow.wizard-nav-prev{
display:none;

}
}
.guide-tab-scroller.guide-tab-scroller-next{
cursor:pointer;
height:40px;
display:inline-block;
background:url(/etc/clientlibs/fd/af/images/next.png) right bottom / contain no-repeat;

}
.guide-tab-scroller.guide-tab-scroller-previous{
cursor:pointer;
height:40px;
display:inline-block;
background:url(/etc/clientlibs/fd/af/images/previous.png) left bottom / contain no-repeat;

}
.guideTableRuntimeAddControl{
background:url(/etc/clientlibs/fd/af/guidetheme2/images/plus.svg) center center / cover no-repeat;
width:25px;
height:25px;
margin-top:5px;
display:inline-block;
cursor : pointer;

}
.guideTableRuntimeEditControl{
display:inline-block;
width:20px;
height:24px;
background:url(/etc/clientlibs/fd/af/images/table-edit.png) left top / cover no-repeat;
cursor : pointer;

}
.guideTableRuntimeDeleteControl{
background:url(/etc/clientlibs/fd/af/guidetheme2/images/minus.svg) center center / cover no-repeat;
width:25px;
height:25px;
margin-top:5px;
display:inline-block;
cursor : pointer;

}
.guideTableNode table .guideTableRowNode.guideTableHeader th{
background:#666666;
font-weight:bold;
padding-right:.625rem;
padding-left:.625rem;
border-style:hidden;
height:3.875rem;
color:rgb(255,255,255);
text-align:left;

}
.guideTableNode table .guideTableRowNode.guideTableHeader:nth-child(even),.guideTableNode table .guideTableRowNode.guideTableHeader:nth-child(odd){
background:#333333;

}
.guideTableNode table td{
text-align:left;

}
.guideTableNode table tbody:nth-of-type(odd) tr:nth-of-type(odd){
background:#ffffff;

}
.guideTableNode table tbody:nth-of-type(even) tr, .guideTableNode table tbody tr:nth-of-type(even){
border-style:hidden;
background:#eeeeee;

}
.guideToolbarNode{
margin-top:25px;
margin-bottom:25px;

}
@media (max-width : 767px){
.guideToolbarNode{
background:#013853;
position:fixed;
bottom:0px;
width:100%;
margin-top:0px;
margin-bottom:0px;

}
}
button.fileattachmentlisting .iconButton-icon{
background:url(/etc/clientlibs/fd/af/images/fileattachmentlisting-ip.png) center top / contain no-repeat;

}
button:not(.af-icon-button):focus{
background:#3276b1;

}
button:not(.af-icon-button):hover{
background:#013853;

}
button:not(.af-icon-button),input[type='button']{
margin-bottom:0px;
margin-top:0px;
margin-left:0px;
margin-right:0px;
border-style:outset;
border-top-width:0px;
border-left-width:0px;
border-bottom-width:0px;
border-right-width:0px;
color:#ffffff;
padding-bottom:10px;
padding-left:15px;
padding-top:10px;
padding-right:15px;
border-color:#285e8e;
font-size:14px;
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-top-right-radius:4px;
border-top-left-radius:4px;
line-height:normal;
background:#00283c;

}
@media (max-width : 767px){
button:not(.af-icon-button),input[type='button']{
background:#013853;

}
}
button .iconButton-icon{
height:25px;
width:25px;
display:none;

}
button.moveNext .iconButton-icon{
background:url(/etc/clientlibs/fd/af/images/moveNext-ip.png) center top / contain no-repeat;

}
button.movePrev .iconButton-icon{
background:url(/etc/clientlibs/fd/af/images/movePrev-ip.png) center top / contain no-repeat;

}
button.reset .iconButton-icon{
background:url(/etc/clientlibs/fd/af/images/reset-ip.png) center top / contain no-repeat;

}
button.save .iconButton-icon{
background:url(/etc/clientlibs/fd/af/images/save-ip.png) center top / contain no-repeat;

}
button.submit .iconButton-icon{
background:url(/etc/clientlibs/fd/af/images/submit-ip.png) center top / contain no-repeat;

}
.afToolbarButton .guidebutton button:not(.af-icon-button){

}
.afToolbarButton {
display:inline-block;
}
@media (max-width : 767px){
.afToolbarButton .guidebutton button .iconButton-label{
display:none;

}
}
@media (max-width : 767px){
.afToolbarButton .guidebutton button .iconButton-icon{
display:block;

}
}
.guideContainerWrapperNode .tooltip.bottom .tooltip-inner{
background:rgba(0,0,0,0.8);
max-width:350px;
padding-left:8px;
padding-bottom:3px;
padding-right:8px;
padding-top:3px;
color:#FFFFFF;
text-align:center;
border-bottom-right-radius:4px;
border-bottom-left-radius:4px;
border-top-right-radius:4px;
border-top-left-radius:4px;
width:auto;
text-decoration: none;
white-space: normal;
word-break: break-word;
word-wrap: break-word;
}
.guideContainerWrapperNode .tooltip.bottom .tooltip-arrow {
border-bottom-color:rgba(0,0,0,0.8);
}
.guideFieldError{
padding-left:5px;
padding-top:5px;
color:#cccccc;

}
.guideFieldWidget.guideDateInputWidget .comb-datefield label{
padding-right:5px;

}
.guideImageChoice .guideRadioButtonItem.imageCheckButtonChecked .guideWidgetLabel, .guideImageChoice .guideCheckBoxItem.imageCheckButtonChecked .guideWidgetLabel {
background:url(/etc/clientlibs/fd/af/widgets/imagebuttons/assets/ImageChoiceSelectIcon.svg) center center no-repeat,rgba(23,107,230,0.5);

}
.guideScribble .ScribbleImageField img.emptyScribble{
background:url(/etc/clientlibs/fd/xfaforms/xfalib/images/signature.png) left top no-repeat;

}
hr{
margin-top:0.5rem;
margin-bottom:0.5rem;
opacity:0.5;
border-style:solid;
border-color:#CCCCCC;

}
.guideSummaryComponent{
text-align:center;
max-width:100%;
position:relative;
height:500px;
border-top-width:1px;
border-right-width:1px;
border-left-width:1px;
border-bottom-width:1px;
border-style:solid;
overflow:auto;

}
.guideVerifyComponent{
text-align:center;
max-width:100%;
position:relative;
height:500px;
border-right-width:1px;
border-bottom-width:1px;
border-left-width:1px;
border-top-width:1px;
border-style:solid;
overflow:auto;

}
.guideESignComponent{
text-align:center;
position:relative;
height:500px;
border-right-width:1px;
border-bottom-width:1px;
border-left-width:1px;
border-top-width:1px;
border-style:solid;
overflow:auto;
max-width:100%;

}
.afFooter{
width:100%;
color:#FFFFFF;
text-align:center;
padding-top:10px;
padding-right:0px;
padding-bottom:15px;
padding-left:0px;
background:#484848;
margin-top:60px;
height:40px;
box-sizing : content-box;

}
@media (max-width : 767px){
.afFooter{
margin-bottom:40px;

}
}
.afHeader{
color:#FFFFFF;
top:0px;
right:0px;
left:0px;
border-left-width:1px;
border-bottom-width:1px;
border-right-width:1px;
border-top-width:1px;
border-style:solid;
background:#0079C1;
height:90px;

}
@media (max-width : 767px){
.afHeader{
margin-bottom:20px;
height:auto;

}
}
.guideimage .logoImage img{
height:60px;
margin-top:15px;

}
.guideTextDraw.headerText{
font-size:28px;
padding-left:10px;
height:90px;

}
