/*************************************************************************
*
* ADOBE CONFIDENTIAL
* __________________
*
*  Copyright 2015 Adobe Systems Incorporated
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe Systems Incorporated and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Adobe Systems Incorporated and its
* suppliers and may be covered by U.S. and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe Systems Incorporated.
**************************************************************************/

.bindRefSelector {
    margin-bottom: 6px;
}

.bindRefTextField {
    margin-bottom: 0px;
    float: left;
    margin-right: 1px;
    width:100%;

}

.bindRefSelectorButtonGroup {
    /*float: left;*/
}


.afBindRefSidePanelTree {
    clear: both;
}

.afBindRefSidePanelTitle {
    display: inline-block !important;
    width: 69%;
    padding-top: 10px;
}

.afBindRefSidePanelHeader {
    margin-top: 10px;
    margin-bottom: 5px;
}

.afBindRefSidePanelSubmit{
    margin-right: 5px;
}

.afBindRefSidePanelCancel {
    margin-right: 8px;
}

