/*!************************************************************************
*
* ADOBE SYSTEMS INCORPORATED
*  Copyright 2015 Adobe Systems Incorporated
*  All Rights Reserved.
*
* NOTICE:  Adobe permits you to use, modify, and distribute this file in 
* accordance with the terms of the Adobe license agreement accompanying it. 
* If you have received this file from a source other than Adobe, then your 
* use, modification, or distribution of it requires the prior written 
* permission of Adobe.
**************************************************************************/

/*
	CSS for desktop systems goes here.
	This section is always processed by the web browser, both for desktop systems and touch devices. Touch-specific
	CSS rules should be defined in the sections below.
*/

.s7carouselviewer {
	width:100%;
	height:100%;
}

.s7carouselviewer .s7carouselview {
	position: absolute;	
	top: 0px;
	left: 0px;
	background-color: rgb(68, 68, 68);
}

.s7carouselviewer  .s7container {
	background-color: rgb(68, 68, 68);
}

/* SimpleToolTip - common styles */
.s7tooltip {
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	border-color:#999999;
	background-color: #000000;
	color: #FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

/**
 * Buttons component  
 */

/*************************************************************************/
/* Left Button - common styles */   
 .s7carouselviewer .s7panleftbutton {
	position:absolute;
	bottom: 50%;
	left: 10px;
	background-size:60px;
	cursor: pointer;
 }
/* Left Button - desktop size and art */ 
.s7carouselviewer.s7mouseinput .s7panleftbutton {
	width:60px;
	height:60px;
	margin-bottom: -20px;
}
.s7carouselviewer.s7mouseinput .s7panleftbutton[state]  {
    background-image: url(images/v2/CarouselNumbLeftButton_dark_sprite.png);
}

.s7carouselviewer.s7mouseinput .s7panleftbutton[state='up'] { background-position: -0px -60px;  }
.s7carouselviewer.s7mouseinput .s7panleftbutton[state='over'] { background-position: -0px -0px; }
.s7carouselviewer.s7mouseinput .s7panleftbutton[state='down'] { background-position: -0px -0px; }
.s7carouselviewer.s7mouseinput .s7panleftbutton[state='disabled'] { background-position: -0px -60px; }

/* Left Button - touch device size and art */
.s7carouselviewer.s7touchinput .s7panleftbutton {
	display:none;
}

/*************************************************************************/
/* Right Button - common styles */
	
.s7carouselviewer .s7panrightbutton{
	position:absolute;
	bottom: 50%;
	right: 10px;
	background-size:60px;
	cursor: pointer;
 }
 
/* Right Button - desktop size and art */  
.s7carouselviewer.s7mouseinput .s7panrightbutton {
	width:60px;
	height:60px;
	margin-bottom: -20px;
}
.s7carouselviewer.s7mouseinput .s7panrightbutton[state]  {
    background-image: url(images/v2/CarouselNumbRightButton_dark_sprite.png);
}

.s7carouselviewer.s7mouseinput .s7panrightbutton[state='up'] { background-position: -0px -60px;  }
.s7carouselviewer.s7mouseinput .s7panrightbutton[state='over'] { background-position: -0px -0px; }
.s7carouselviewer.s7mouseinput .s7panrightbutton[state='down'] { background-position: -0px -0px; }
.s7carouselviewer.s7mouseinput .s7panrightbutton[state='disabled'] { background-position: -0px -60px; }

/* Right Button - touch device size and art */
.s7carouselviewer.s7touchinput .s7panrightbutton {
	display:none;
}

/*************************************************************************/
/* SetIndicator - common styles */
	
.s7carouselviewer .s7setindicator{
	position:absolute;
	font-size: 12px;
	color:#ffffff;
 }
.s7carouselviewer .s7setindicator .s7dot{
	display: inline-block;
	vertical-align: middle;
 }
 
/* SetIndicator - desktop size and art */  
.s7carouselviewer.s7mouseinput .s7setindicator {
	bottom: 20px;
}
.s7carouselviewer.s7mouseinput .s7setindicator[mode='dotted'] .s7dot{
	width:15px;
	height:15px;
	line-height:15px;
	margin-left:2.5px;
	margin-right:2.5px;
	margin-top:2.5px;
	margin-bottom:2.5px;
}
.s7carouselviewer.s7mouseinput .s7setindicator[mode='numeric'] .s7dot{
	width:30px;
	height:30px;
	line-height:30px;
	margin:0.5px;
	border-radius:0px;
}
.s7carouselviewer.s7mouseinput .s7setindicator[mode='dotted'] .s7dot[state='selected'] { 
	width:18px;
	height:18px;
	line-height:18px;
	background-color: #000000;
	opacity: 0.9;
	border-radius:9px;
}
.s7carouselviewer.s7mouseinput .s7setindicator[mode='dotted'] .s7dot[state='unselected'] { 
	width:15px;
	height:15px;
	background-color: #000000;
	opacity: 0.5;
	border-radius:7px;
}
.s7carouselviewer.s7mouseinput .s7setindicator[mode='numeric'] .s7dot[state='selected'] { 
	background-color: #000000;
	opacity: 0.9;
}
.s7carouselviewer.s7mouseinput .s7setindicator[mode='numeric'] .s7dot[state='unselected'] { 
	background-color: #000000;
	opacity: 0.5;
}

/* SetIndicator - touch device size and art */
.s7carouselviewer.s7touchinput .s7setindicator {
	bottom: 10px;
}
.s7carouselviewer.s7touchinput .s7setindicator .s7dot{
	width:8px;
	height:8px;
	line-height:8px;
	margin-left:1.5px;
	margin-right:1.5px;
	margin-top:1.5px;
	margin-bottom:1.5px;
}
.s7carouselviewer.s7touchinput .s7setindicator .s7dot[state='selected'] { 
	width:11px;
	height:11px;
	line-height:11px;
	background-color: #000000;
	opacity: 0.9;
}
.s7carouselviewer.s7touchinput .s7setindicator .s7dot[state='unselected'] { 
	width:8px;
	height:8px;
	background-color: #000000;
	opacity: 0.5;
}
 
@media only screen and (-webkit-min-device-pixel-ratio:1.5) {
	.s7carouselviewer.s7touchinput .s7setindicator .s7dot[state='selected'] { 
		background-color: #000000;
		opacity: 0.9;
	}
	.s7carouselviewer.s7touchinput .s7setindicator .s7dot[state='unselected'] { 
		background-color: #000000;
		opacity: 0.5;
	}
}

/*************************************************************************/
/* ControlBar - common styles */
.s7carouselviewer .s7controlbar {
	left: 0px;
	top: 0px;
	height: 0px;
	position: absolute;
	display:block;
}

/*************************************************************************/
/* InfoPanelPopup - common styles */ 
.s7carouselviewer .s7infopanelpopup {
	position : absolute;
	top : 0px;
	left : 0px;
	background-color : rgba(0,0,0,0.5);
	z-index: 6000;
}
.s7carouselviewer .s7infopanelpopup .s7overlay {
	padding:0;
	background-color:rgb(255,255,255);
	background-size: 100% 100%;
	background-image:url(images/v2/InfoPanelPopup_ProductDescription.png);
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 980px;
	height: 610px;
	max-width: 100%;
	max-height: 100%;
}

.s7carouselviewer .s7infopanelpopup .s7overlay .s7assetpreview {
	position:absolute;
	left: 1.6%;
	top: 2.295%;
	width: 50%;
	height: 95.58%;
}

.s7carouselviewer .s7infopanelpopup .s7closebutton {
	position: absolute;
	width: 28px;
	height: 28px;
	top: 5px;
	right: 5px;
	padding: 0px;
	visibility:inherit;
	z-index:1;
}
.s7carouselviewer .s7infopanelpopup .s7closebutton[state="up"]{ background-image:url(images/v2/InfoPanelPopup_QuickViewCloseButton_up.png); }
.s7carouselviewer .s7infopanelpopup .s7closebutton[state="over"]{ background-image:url(images/v2/InfoPanelPopup_QuickViewCloseButton_up.png); }
.s7carouselviewer .s7infopanelpopup .s7closebutton[state="down"]{ background-image:url(images/v2/InfoPanelPopup_QuickViewCloseButton_up.png); }
.s7carouselviewer .s7infopanelpopup .s7closebutton[state="disabled"]{ background-image:url(images/v2/InfoPanelPopup_QuickViewCloseButton_up.png); }

.s7carouselviewer .s7infopanelpopup .s7overlay .s7assetpreview.s7genericimage {
	background-image:url(images/v2/InfoPanelPopup_GenericImage.png);
	background-size: 100% 100%;
}
.s7carouselviewer .s7infopanelpopup .s7overlay .s7assetpreview .s7assetpreviewimg{
	position:absolute;
	max-width:100%; 
	max-height:100%;
	margin: auto;
	display: block;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

.s7carouselviewer .s7infopanelpopup .s7overlay .s7disclaimer {
	position: absolute;
	left: 52.5%;
	top: 7px;
	width:44%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #FF0000;
	font-family:sans-serif;
	font-size:18px;
}
/*************************************************************************/
/* ImageMapEffect - common styles */
.s7carouselviewer .s7imagemapeffect .s7icon {
	background-image: url(images/v2/imagemap/ImageMapEffect_icon1_dark_up_touch.png);
	width: 56px;
	height: 56px;
	background-size: 100% 100%;
}
.s7carouselviewer .s7imagemapeffect .s7icon:hover {
	background-image: url(images/v2/imagemap/ImageMapEffect_icon1_dark_over_touch.png);
}
@media only screen and (-webkit-min-device-pixel-ratio:1.5)	{
	.s7carouselviewer .s7imagemapeffect .s7icon {
		background-image: url(images/v2/imagemap/ImageMapEffect_icon1_dark_up_touch_2x.png);	
	}
	.s7carouselviewer .s7imagemapeffect .s7icon:hover {
		background-image: url(images/v2/imagemap/ImageMapEffect_icon1_dark_over_touch_2x.png);	
	}
}
